<div class="clickme">
    <a href="/party/{{id}}"></a>
    <section class="card-body bg-white rounded-3 shadow-sm">
        <h3>{{party_name}}</h3>
            <hr>
              <div class="row">
                  <div >
                      <h6 class="text-muted">{{#each characters}}{{this}}, {{/each}}</h6> 
                  </div>
              </div>
          
    </section>
</div>