<div class="clickme">
    <a href=""></a>
    <section class="card-body bg-white rounded-3 shadow-sm">
                <h3>{{full_name}}</h3>
                <hr>
                <div class="row">
                    <div >
                        <h6 class="text-muted">{{mainclass}} {{subclass}} {{level}}</h6>  
                    </div>
                </div>         
    </section>
</div>