  <div class="pt-3">
            <input class="checkbox" type="radio" name="check1" id="check1">
            <label class="checklabel" for="check1">{{full_name}}

              <div class="col-12 text-muted pt-1">
                {{class}}/{{subclass}}, {{level}}
              </div>

            </label>
          </div>