<div class="clickme">
<a href=""></a>
    <section class="card-body bg-white rounded-3 shadow-sm">
        <h3>Legolas</h3>
        <hr>
        <div class="row">
            <div class="col-6">
                <h6 class="text-muted">Ranger</h6> 
            </div>
            <div class="col-6">
                <p class="text-muted"> Added By: {{#with characters}} {{user.name}} {{/with}}</p>
            </div>
        </div>         
    </section>
</div>