<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dungeon Book</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <main>
        {{{ body }}}
      </main>
    </div>
  </div>

  <script src="/javascript/bootstrap.bundle.min.js"></script>
</body>

</html>