
<header class="container-fluid py-3 bg-dark"> 
  <div class="row">
    <section class="col-6">
      <div class="row">
        <h4 class=" col-12 text-light">Campaign Name</h4>         
        <h6 class=" col-12 text-muted">Campaign Created By _____ <Strong>name</Strong></h6> 
      </div>
    </section>
    <div class="col-6 text-end">
      <button type="button" class="btn-close btn-close-white" aria-label="Close">back to homepage</button>
    </div>
  </div>
</header>

<section class="row justify-content-around align-items-center gx-5 min-vh-100">
    
    <section class=" col-lg-5 py-5">
        <div class="row gy-3">
            <p class="h3 text-center"> The Fellowship</p> <!-- Campaign group title-->

            <div class="card ">
              <div class="card-body">
                  <div class="row">
                      <div class="col-8">
                          <h5 class="card-title">Legolas</h5>
                      </div>
                      <div class="col-4">
                          <p> Added By: Grayson</p>
                      </div>
                  </div>
                <hr>
                <div class="row">
                    <div class="col-8">
                        <h6 class="card-subtitle mb-2 text-muted">Elf</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Ranger</h6> 
                    </div>
                    <button class="col-4 btn-primary">expand</button>
                </div>
              </div>
            </div>
            
            <div class="card" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Character Name</h5>
                        </div>
                        <div class="col-4">
                            <p> Added By: _____</p>
                        </div>
                    </div>
                  <hr>
                  <div class="row">
                    <div class="col-8">
                        <h6 class="card-subtitle mb-2 text-muted">Race</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Class</h6> 
                    </div>
                    <button class="col-4 btn-primary">expand</button>
                </div>
              </div>
        </div>
        <div class="card" >
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">Character Name</h5>
                    </div>
                    <div class="col-4">
                        <p> Added By: _____</p>
                    </div>
                </div>
              <hr>
              <div class="row">
                <div class="col-8">
                    <h6 class="card-subtitle mb-2 text-muted">Race</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Class</h6> 
                </div>
                <button class="col-4 btn-primary">expand</button>
            </div>
          </div>
    </section>

   

</section>
