<header class="header pt-3 pb-3">
  <div class="container-fluid row">
    <div class="col-6">
      <a class="navbar-brand" href="/home">
        <img src="/Assets/dice-d20-white.svg" alt="" width="50" height="50" class="navbar-brand d-inline-block align-text-top">
      </a>
    </div>
    <div class="col-6 pt-3 text-end">
      
      <li>
        <a id="logout" href="#" class="text-light links">Log Out</a>
      </li>
      <li>
        <a href="https://github.com/graysontmiller/Project2" class="text-light links">About</a>
      </li>
    </div>
    <div class="row">
      <section class="col-6">
        <div class="row">
          <h4 class=" col-12 text-light">{{party.party_name}}</h4>         
          <h6 class=" col-12 text-muted">Campaign Created By <Strong>{{#with party.GM}} {{username}} {{/with}}</Strong></h6> 
        </div>
      </section>
    </div>

  </div>
</header>


<section class="row justify-content-around align-items-center gx-5">
    
    <section class=" col-lg-5 py-5">
        <div class="row gy-3">
           


            <div class="text-center">
              <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#campaignCharacterModal">Add a Character to the Party</button>
            </div>

    </section>

   

</section>


<!-- Modal -->
<div id="campaignCharacterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Select a Character to Add to the Party:</h4>
      
    </div>

    <div class="modal-body">
        {{#if characters.length}}
            {{#each characters as |character|}}
              {{> character-addToParty character}}
            {{/each}}
        {{/if}}  
      <div class="col pt-5 text-center">
        <button class="button-custom text-center"> Add This Character to the Party</button>
      </div>

      <div class="col pt-3 text-center">
        <button class="button-custom text-center"> Create a New Character</button>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="button-custom" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  
  </div>
  </div>
  <script src="/javascript/logout.js"></script>
