<header class="header pt-3 pb-3">
  <div class="container-fluid row">
    <div class="col-6">
      <a class="navbar-brand" href="#">
        <img src="/Assets/dice-d20-white.svg" alt="" width="50" height="50" class="navbar-brand d-inline-block align-text-top">
      </a>
    </div>
    <div class="col-6 pt-3 text-end">

      <li>
        <a id="logout" href="#" class="text-light links">Log Out</a>
      </li>
      <li>
        <a href="https://github.com/graysontmiller/Project2" class="text-light links">About</a>
      </li>
    </div>
  </div>
</header>



<section class="row justify-content-around align-items-center gx-5">
    
  <section class=" col-lg-5 py-5">
    <div class="row gy-3">
        <p class="h3 text-center"> Your Characters</p>
        {{#if characters.length}}
            {{#each characters as |character|}}
              {{> character-info character}}
            {{/each}}
        {{/if}}

        <div class="text-center">
          <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#characterModal">Add a character</button>
        </div>
    </div>
</section>


<section class=" col-lg-5 py-5">
  <div class="row gy-3">
      <p class="h3 text-center"> Your Campaigns</p>
        {{#if parties.length}}
          {{#each parties as |party|}}
              {{> campaign-info party}}
          {{/each}}
        {{/if}}
    <div class="text-center">
      <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#campaignModal">Add a Campaign Party</button>
    </div>

  </div>
  
</section>



<!-- Modal -->
<div id="campaignModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add a Campaign Party</h4>
      
    </div>
    <form class="join-party modal-body">
      <label class="form-label">Enter your party pass to join a campaign party.</label>
      <input type="text" class="form-control" id="party-pass-join" name="party-pass-join" placeholder="mypartypass">
      <div class="pt-3 row">
        <div class="col-3">
          <button type="submit" class="button-custom text-center"> Enter</button>
        </div>

      </div>
    </form>

    <form class="create-party modal-body">
      <label class="form-label">Enter your Campaign Party Name</label>
      <input type="text" class="form-control" id="party-name" name="party-name" placeholder="The Fellowship">
      <label class="form-label">Enter a unique party password</label>
      <input type="text" class="form-control" id="party-pass" name="party-pass" placeholder="The Fellowship">
      <div class="pt-3 row">
        
        <div class="col">
          <button type="submit" class="button-custom text-center"> Create a Party</button>
        </div>
      </div>
    </form>
    
    <div class="modal-footer">
      <button type="button" class="button-custom" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  
  </div>
  </div>



  <!-- Modal -->
<div id="characterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add a Character</h4>
      
    </div>
    <div class="modal-body">
      <label class="form-label">Enter your character information</label>
      
    <form>

      <div class="pt-3">
        <label class="form-label">Character Name:</label>
        <input type="" class="form-control" id="full_name" name="full_name" placeholder="Blorf Whishelshnob">
      </div>


      <div class="pt-3">
        <label class="form-label">Character Race</label>

        <select class="form-select pt-3" id="race" name="race" aria-label="Default select example">
          <option selected>Races</option>
          <option value="1">Dragonborn</option>
          <option value="2">Dwarf</option>
          <option value="3">Elf</option>
          <option value="4">Gnome</option>
          <option value="5">Half-Elf</option>
          <option value="6">Halfling</option>
          <option value="7">Half-Orc</option>
          <option value="8">Human</option>
          <option value="9">Tiefling</option>
        </select>
       
      </div>

      <div class="pt-3">
        <label class="form-label">Character Class</label>

        <select class="form-select pt-3" id="class" name="class" aria-label="Default select example">
          <option selected>Classes</option>
          <option value="1">Barbarian</option>
          <option value="2">Bard</option>
          <option value="3">Cleric</option>
          <option value="4">Druid</option>
          <option value="5">Fighter</option>
          <option value="6">Monk</option>
          <option value="7">Paladin</option>
          <option value="8">Ranger</option>
          <option value="9">Rogue</option>
          <option value="10">Sorcer</option>
          <option value="11">Warlock</option>
          <option value="12">Wizard</option>
        </select>
       
      </div>

      <div class="pt-3">
        <label class="form-label">Character Alignment</label>

        <select class="form-select pt-3" id="alignment" class="alignment" aria-label="Default select example">
          <option selected>Alignments</option>
          <option value="1">Lawful Good</option>
          <option value="2">Neutral Good</option>
          <option value="3">Chaotic Good</option>
          <option value="4">Lawful Neutral</option>
          <option value="5">Neutral</option>
          <option value="6">Chaotic Neutral</option>
          <option value="7">Lawful Evil</option>
          <option value="8">Neutral Evil</option>
          <option value="9">Chaotic Evil</option>
        </select>
       
      </div>


      
    </div>

    <div class="modal-body">
      <div class="pt-3 row">
        
        <div class="col">
          <button type="submit" class="button-custom text-center"> Create Character Profile</button>
        </div>
      </div>
    </div>

    </form>

    <div class="modal-footer">
      <button type="button" class="button-custom" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  
  </div>
  </div>


  <script src="/javascript/logout.js"></script>
  <script src="/javascript/create-party.js"></script>
  <script src="/javascript/join-party.js"></script>
