<section class="row justify-content-around align-items-center gx-5 min-vh-100">
    
    <div class=" col-lg-4">
        <img src="/Assets/dice-d20.svg" alt="">
    </div>
    <form class="login-form col-lg-8">
        <div class="mb-3">
            <label for="user-login" class="form-label">Username</label>
            <input type="text" id="user-login" placeholder="Username" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" id="password-login" placeholder="Password" class="form-control" />
        </div>
        <div class="mb-3 row">
            <div class="col-lg-7">
                <button type="submit" class="button-custom">login</button>
            </div>
            <div class="col-lg-5 text-lg-end ">
                <p class="text-center"> Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
        </div>
    </form>

</section>
<script src="/javascript/login.js"></script>
