<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dungeon Book</title>
  <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container">
    <div class="row">
      <main>
<!-- End of main.handlebars/ where {{{Body}}} -->


<section class="row justify-content-around align-items-center gx-5 min-vh-100">
    
    <div class="col-xs-1 col-lg-6">
        <img src="../public/Assets/dice-d20.svg" alt="">
    </div>
    <div class="col-xs-1 col-lg-6 align" align="center">
        <h1 class="pb-2"> Dungeon Book</h1>
        <button type="button" class="button-custom">Enter</button>
    </div>

</section>




<!-- continue main.handlebars -->
</main>
</div>
</div>

<script src="/javascript/bootstrap.bundle.min.js"></script>
</body>

</html>