<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dungeon Book</title>
  <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <main>
<!-- End of main.handlebars/ where {{{Body}}} -->

<header class="header pt-3 pb-3">
  <div class="container-fluid row">
    <div class="col-6">
      <a class="navbar-brand" href="#">
        <img src="../public/Assets/dice-d20-white.svg" alt="" width="50" height="50" class="navbar-brand d-inline-block align-text-top">
      </a>
    </div>
    <div class="col-6 pt-3 text-end">
      
      <li>
        <a href="" class="text-light links">Log Out</a>
      </li>
      <li>
        <a href="https://github.com/graysontmiller/Project2" class="text-light links">About</a>
      </li>
    </div>
    <div class="row">
      <section class="col-6">
        <div class="row">
          <h4 class=" col-12 text-light">Campaign Name</h4>         
          <h6 class=" col-12 text-muted">Campaign Created By _____ <Strong>name</Strong></h6> 
        </div>
      </section>
    </div>

  </div>
</header>


<section class="row justify-content-around align-items-center gx-5">
    
    <section class=" col-lg-5 py-5">
        <div class="row gy-3">
           

            <div class="clickme">
              <a href=""></a>
              <section class="card-body bg-white rounded-3 shadow-sm">
              
                    <h3>Legolas</h3>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-muted">Ranger</h6> 
                        </div>
                        <div class="col-6">
                          <p class="text-muted"> Added By: Grayson</p>
                      </div>
                    </div>
                
              </section>
            </div>

            <div class="clickme">
              <a href=""></a>
              <section class="card-body bg-white rounded-3 shadow-sm">
              
                    <h3>Legolas</h3>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-muted">Ranger</h6> 
                        </div>
                        <div class="col-6">
                          <p class="text-muted"> Added By: Grayson</p>
                      </div>
                    </div>
                
              </section>
            </div>
            
            <div class="clickme">
              <a href=""></a>
              <section class="card-body bg-white rounded-3 shadow-sm">
              
                    <h3>Legolas</h3>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-muted">Ranger</h6> 
                        </div>
                        <div class="col-6">
                          <p class="text-muted"> Added By: Grayson</p>
                      </div>
                    </div>
                
              </section>
            </div>

            <div class="clickme">
              <a href=""></a>
              <section class="card-body bg-white rounded-3 shadow-sm">
              
                    <h3>Legolas</h3>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-muted">Ranger</h6> 
                        </div>
                        <div class="col-6">
                          <p class="text-muted"> Added By: Grayson</p>
                      </div>
                    </div>
                
              </section>
            </div>

    </section>

   

</section>

  


<!-- continue main.handlebars -->
      </main>
    </div>
  </div>


   


  <script src="../public/javascript/bootstrap.bundle.min.js"></script>
</body>

</html>